<footer class="footer">
  <div class="container">
    <pre class="footer-ascii">
 ____ ___ ____ ____ ____  _____ ______     __
/ ___|_ _/ ___/ ___/ ___|| ____/ ___\ \   / /
\___ \| | |  | |   \___ \|  _|| |  _ \ \ / /
 ___) | | |__| |___ ___) | |__| |_| | \ V /
|____/___\____\____|____/|_____\____|  \_/

      Technical Insights & Security Research
    </pre>
    <div class="footer-content">
      <div class="footer-col">
        <h4>Siccsegv Blog</h4>
        <p>Insights into technology, cybersecurity, philosophy and all that lies in between</p>
      </div>
      <div class="footer-col">
        <h4>Navigation</h4>
        <ul>
          <li><a href="/">All Posts</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/archive">Archive</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Main Site</h4>
        <ul>
          <li><a href="{{ .Site.Params.mainSite }}">Home</a></li>
          <li><a href="{{ .Site.Params.mainSite }}#pentests">Services</a></li>
          <li><a href="{{ .Site.Params.mainSite }}#contact">Contact</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Follow</h4>
        <div class="social-links">
          <a href="https://www.linkedin.com/company/siccsegv/" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a href="https://www.youtube.com/@siccsegv" target="_blank">
            <i class="fa-brands fa-youtube"></i>
          </a>
          <a href="https://www.instagram.com/Siccsegv/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; {{ now.Year }} Siccsegv. All rights retained.</p>
    </div>
  </div>
</footer>
